/* Marcellus SC */
@font-face {
font-family: 'Marcellus';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://jcychung.github.io/Marcellus_SC/MarcellusSC-Regular.ttf) format('truetype');
}
