/* Cormorant Upright Regular */
@font-face {
font-family: 'Cormorant Upright WOFF2';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://jcychung.github.io/cormorantuprightwoff2/CormorantUpright-Regular.woff2) format('woff2');
}
