/* Yuji Boku */
@font-face {
font-family: 'Yuji Boku';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://jcychung.github.io/yujiboku/YujiBoku-Regular.ttf) format('truetype');
}