/* Cormorant Upright Regular */
@font-face {
font-family: 'Cormorant Upright EOT';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://jcychung.github.io/cormorantuprighteot/CormorantUpright-Regular.eot) format('eot');
}
